html {
    font-size: 62.5%;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

header {
    /* display: none; */
    height: 100vh;  /* Header covers 100% of the viewport*/
    width: auto;
}

.card-title {
    position: absolute;
    margin-top: 13.7%;
    color: white;
    background-color: #70A9FF;
    width: fit-content;
    text-align: center;
    border-radius: 0 5px 0 0;
    padding-right: 10px;
    padding-left: 10px;
}

#languages {
    text-align: center;
    position: absolute;
    margin-top: 75vh;
    margin-left: 45vw;
}

#languages h3 {
    padding-bottom: 15px;
    font-size: 2.5rem;
}

#languages img {
    display: inline;
    height: 50px;
    width: 50px;
    padding-left: 20px;
}

#languages img:first-of-type {
    padding-left: 0;
}

nav {
    position: fixed; /* Sticky Nav */
    font-size: 3rem;
    top: 47%;
    margin-left: 20px;
    border-left: solid 3px #70A9FF;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
    transition: 200ms;
}

nav a:hover {
    color: white;
    transition: 200ms;
    background-color: #70A9FF;
    padding: 0 5px 0 5px;
}

#about-me {
    position: absolute;
    width: 35vw;
    margin-left: 37%;
    margin-top: 18%;
    padding: 50px;
    border-radius: 10px;
}

#pfp {
    position: absolute;
    border-radius: 10%;
    margin-top: 21%;
    margin-left: 27%;
    background-image: url(../images/pfp.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    box-shadow: -10px 10px 0 #70A9FF;
}

#about-me h1 {
    font-size: 4em;
    font-weight: 400;
    line-height: 1em;
}

mark {
    background-color: transparent;
    color: #70A9FF;
}

h1 mark {
    display: block;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#primary {
    width: 70vw;
    height: 30vh;
    background-color: rgb(148, 218, 250);
    margin-left: 13%;
    border-radius: 10px;
    transition: 200ms;
}

#primary img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 0% 50%;
}

#primary:hover {
    cursor: pointer;
    padding-left: 20px;
    transition: 200ms;
}

.secondary {
    border-radius: 10px;
    margin-top: 15px;
    width: 34.6vw;
    height: 30vh;
    background-color: rgb(255, 247, 176);
    transition: 200ms;
}

.secondary img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.secondary:hover {
    cursor: pointer;
    padding-left: 20px;
    transition: 200ms;
}

.secondary:nth-of-type(even){
    margin-left: 13%;
}
.secondary:nth-of-type(odd){
    margin-left: 15px;
}

#contact-me {
    margin-top: 70px;
    max-width: 100vw;
    text-align: center;
}

#contact-me h2 {
    display: inline;
    max-width: 10px;
    margin-left: 50px;
}

#contact-me span {
    margin-left: 50px;
}

#phone::before {
    margin-right: 10px;
    content: url(../images/telephone-fill.svg);
}

#email::before {
    margin-right: 10px;
    content: url(../images/envelope-fill.svg);
}

#contact-me svg {
    margin-left: 50px;
    transform: scale(1.75);
    transition: 300ms;
}

#contact-me svg:hover {
    transform: scale(2.25);
    transition: 300ms;
}

footer {
    text-align: center;
    width: 99vw;
    font-size: 0.7em;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
    
    header h1 {
        max-width: 60vw;
    }

    mark {
        width: fit-content;
    }

    #pfp {
        margin-left: 8vw;
        margin-top: 42vh;
    }

    #about-me {
        margin-left: 30vw;
    }

    #about-me h1 {
        font-size: 5rem;
        margin-top: 20vh;
        width: 100vw;
    }

    #about-me p {
        width: 60vw;
        font-size: 2.5rem;
    }

    .card-title {
        margin-top: 28.6%;
    }

    #languages {
        margin-top: 70vh;
        margin-left: 38vw;
    }
    
    #primary {
        width: 82.5vw;
        height: 30vh;
        margin-left: 9%;
    }
    
    .secondary {
        margin-top: 15px;
        width: 40vw;
        height: 30vh;
    }
    
    .secondary:nth-of-type(even){
        margin-left: 65px;
    }
    .secondary:nth-of-type(odd){
        margin-left: 25px;
    }

    #contact-me {
        margin-right: 50px;
        margin-top: 7%;
        max-width: 90vw;
        height: 25vh;
        text-align: center;
    }
    
    #contact-me h2 {
        max-width: 10px;
        margin-left: 50px;
        font-size: 3.5rem;
    }
    
    #phone, #email {
        display: block;
        margin-top: 45px;
    }

    #contact-me svg {
        margin-top: 45px;
    }
    
    footer {
        margin-top: 75px;
        max-width: 100vw;
    }

}

@media screen and (max-width: 480px) {

    header {
        height: 100vh;
        width: auto;
    }
    
    header nav{
        display: none;
    }

    #pfp {
        height: 175px;
        width: 175px;
        margin-top: 10vh;
        margin-left: 30%;
    }

    #about-me {
        margin-top: 30%;
        margin-left: 20px;
    }

    #about-me h1 {
        width: 85vw;
        max-width: 90vw;
        font-size: 3.75rem;
    }

    #about-me p {
        width: 75vw;
        font-size: 2.15rem;
    }

    .card-title {
        margin-top: 45.65%;
    }

    mark {
        max-width: fit-content;
    }

    #languages {
        margin-left: 27vw;
    }

    #primary {
        width: 90vw;
        height: 30vh;
        margin-left: 5vw;
    }

    .secondary {
        margin-top: 15px;
        width: 90vw;
        height: 30vh;
    }

    .secondary:nth-of-type(even){
        margin-left: 5vw;
    }
    .secondary:nth-of-type(odd){
        margin-left: 5vw;
    }

    #contact-me {
        margin-right: 50px;
        margin-top: 50%;
        max-width: 100vw;
        height: 50vh;
    }
    
    #contact-me h2 {
        max-width: 10px;
        margin-left: 50px;
        font-size: 3.5rem;
    }
    
    #phone, #email {
        display: block;
        margin-top: 45px;
    }

    #contact-me svg {
        margin-top: 45px;
    }
    
    footer {
        margin-top: 10px;
    }
}